.cart-texts {
  text-align: start;
  margin-left: 20px;
  line-height: 5px;
  margin-right: 20px;
}
.order-summary {
  text-align: center;
  line-height: 20px;
}
.cart-costs {
  display: flex;
  justify-content: space-between;
  line-height: 5px;
}
.cart-costs h4 {
  color: darkred;
}
